body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  color: #333;
}

header {
  background-color: #f0c808; /* amarelo */
  color: #fff;
  text-align: center;
  padding: 1em 0;
}

header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

header nav ul li a {
  text-decoration: none;
  color: #004d00; /* verde escuro */
  font-weight: bold;
}

header nav ul li a:hover {
  color: #002800;
}

.about-image {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  margin-top: 10px;
  display: block;
  margin: 0 auto;
 box-shadow: 5px 5px 11px 3px rgba(0, 0, 0, 0.3);

}

main {
  max-width: 900px;
  margin: 20px auto;
  padding: 0 20px;
}

section {
  margin-bottom: 40px;
}

section#services ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

section#services li {
  width: 250px;
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 0.1);
  text-align: center;
}

section#services img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 0.1);
  max-width: 500px;
  margin: 0 auto;
}

form label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  color: #004d00;
}

form input,
form textarea {
  width: 95%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: inherit;
  font-size: 1rem;
}

form button {
  background-color: #008037; /* verde */
  color: white;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #00501a;
}

footer {
  background-color: #f0c808; /* amarelo */
  text-align: center;
  padding: 15px 10px;
  color: #004d00; /* verde escuro para contraste */
  font-size: 0.9rem;
}

